{% extends 'core/base.html' %}

<title>{% block title %}Contact{% endblock  %}</title>
{% load static %}
{% block header %}{% endblock header %}
{% block imgheader %}{% endblock imgheader %}
{% block content %}
<section class="d-flex justify-content-md-center">
    <div class="card col-sm-5 p-3">
        <div class="card-header">
            <h4 class="card-title">Contact us</h4>
        </div>
        <div class="card-body">        
        </div>
        <div class="mb-2">
            <form action="">
                <!-- Grupo: Nombre -->
                <div class="mb-2" id="grupo-nombre">
                    <label for="nombre" class="formulario__label"><b><em>Name</em></b></label>
                    <div class="formulario__grupo-input">
                        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="nombre (max 40)">
                        <i class="formulario__validacion-estado"></i>
                    </div>
                    <p class="formulario__input-error">El nombre tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
                </div>
                <!-- Grupo: Correo -->
                <div class="mb-2" id="grupo-correo">
                    <label for="correo" class="formulario__label"><b><em>Email</em></b></label>
                    <div class="formulario__grupo-input">
                        <input type="email" class="form-control" name="correo" id="correo" placeholder="email@correo.com">
                        <i class="formulario__validacion-estado"></i>
                    </div>
                    <p class="formulario__input-error">Correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
                </div>
                <!-- Grupo: Comentarios -->
                <div class="mb-2" id="grupo-comentarios">
                    <label for="comentarios" class="formulario__label"><b><em>Comments</em></b></label>
                    <div class="formulario__grupo-input">
                        <textarea name="comentarios" id="comentarios" class="form-control" placeholder="Escribe aquí tus comentarios"></textarea>
                    </div>
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-success">Send</button>
                        <a href="" class="btn btn-danger">Clean</a>
                        <p class="warnings" id="warnings"></p>
                </div>
            </form>
        </div>
    </div>
</section>
<aside class="d-flex justify-content-md-center">
    <div class="card col-sm-5 p-3">
        <div class="card-header">
            <h4 class="card-title">Our location</h4>
        </div>
        <div class="card-body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.857103389747!2d-68.8000430248911!3d-32.90194616963127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0ea0bc78593d%3A0x61932a53d62932c7!2sMendoza%20Shopping!5e0!3m2!1ses-419!2sar!4v1684950749652!5m2!1ses-419!2sar" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</aside>
{% endblock content %}
{% block pielink %}
<script src="{% static 'core/js/formulario.js' %}"></script>
{% endblock pielink %}