{% extends 'core/base.html' %}

<title>{% block title %}Price List{% endblock  %}</title>
{% load static %}
{% block header %}{% endblock header %}
{% block imgheader %}
<img src="{% static 'core/Carta.jpeg' %}" alt="subtitulo" id="subtitulo">
{% endblock imgheader %}
{% block content %}
<section class="container-cart">
    <div>
        <table class="tabla">
            <thead>
            <tr>
                <th colspan="6" class="titulotabla">Price list</th>
            </tr>
            <tr>
                <th colspan="4" class="titulocol1">Dish name</th>
                <th colspan="2" class="titulocol2">U$S</th>
            </tr>
            </thead>
            <tbody id="listone">
            </tbody>
          </table>     
    </div>
</section>
{% endblock content %}
{% block pielink %}
<script src="{% static 'core/js/home.js' %}"></script>
<script src="{% static 'core/js/list.js' %}"></script>
{% endblock pielink %}